# App
APP_NAME=lottery-backend
APP_VERSION=                          # optional, e.g. 1.0.0
APP_PORT=3000
NODE_ENV=development

# Logger
LOG_LEVEL=info                    # debug | info | warn | error
LOG_PRETTY=true                   # true for pretty print, false for JSON
LOG_AUTO_LOGGING=true             # auto log HTTP requests
LOG_FILE_ENABLED=true             # enable file logging
LOG_ERROR_PATH=logs/error.log     # error log file path
LOG_WARN_PATH=logs/warn.log       # warn log file path
LOG_COMBINED_PATH=                # combined log file path (optional)

# Docker
LOTTERY_FORWARD_API_PORT=3000
