@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.fill {
  background-image: linear-gradient(to top, #737373, #0e0e0e, #0e0e0e, #737373);
}

.fill:hover {
  background-image: linear-gradient(to bottom, #0e0e0e, #4c4c4c, #4c4c4c, #0e0e0e);
}